@page
@model ServiceComplex.Pages.BaseData.SalonModel
@{
}

<style>
    .border-none {
        border: none !important;
    }

    input[readonly] {
        background: no-repeat !important;
        cursor: default !important;
        color: darkslategrey;
    }
</style>
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="page-header">
            <div class="page-title">
                <h3>سالن ها</h3>
            </div>
        </div>

        <div class="row layout-top-spacing" id="cancel-row">

            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <div class="text-center">
                        <a onclick="Create()" class="btn btn-secondary btn-rounded btn-sm">افزودن سالن جدید</a>
                    </div>
                    <div class="table-responsive mb-4 mt-4">
                        <table id="dataTable" class="table table-hover table-bordered cell-border row-border" style="width:100%">
                            <thead>
                                <tr>
                                    <th>نام</th>
                                   @* <th> کد </th>*@
                                    <th>نوع</th>
                                    <th>عملیات</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Salons)
                                {
                                    <tr>
                                        <td>@item.SlnName</td>
                                        @*<td>@item.code</td>*@

                                        <td>
                                            @switch (item.SlnType)
                                            {
                                                case 1:
                                                <span>تالار</span>
                                                    break;
                                                case 2:
                                                <span>ورزشی</span>
                                                    break;
                                                case 3:
                                                    <span>ماساژ</span>
                                                    break;
                                                case 4:
                                                    <span>بازی</span>
                                                    break;
                                                case 5:
                                                    <span>استخر</span>
                                                    break;
                                                case 6:
                                                    <span>رستوران</span>
                                                    break;
                                                case 7:
                                                    <span>مهمانسرا</span>
                                                    break;
                                                case 8:
                                                    <span>بوفه</span>
                                                    break;
                                                case 9:
                                                    <span>کافیشاپ</span>
                                                    break;
                                                case 10:
                                                    <span>کلینیک</span>
                                                    break;
                                                case 11:
                                                    <span>پارکینگ</span>
                                                    break;
                                                case 12:
                                                    <span>سایر</span>
                                                    break;

                                            }
                                           
                                        </td>
                                        <td>

                                           @* <a title="جزییات بیشستر" onclick="showModal('@item.SlnId')">
                                                <svg style="color:#2196f3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <line x1="12" y1="16" x2="12" y2="12"></line>
                                                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                                                </svg>
                                            </a>*@
                                            @*<a asp-page="/Products/Edit" asp-route-productId="@item.SlnId" asp-route-load="true" title="ویرایش" class=" mb-2 mr-2">
                                                <svg style="color:#e2a03f !important" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2">
                                                    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                </svg>
                                            </a>*@

                                            <a class="" onclick="Edit('@item.SlnId')" title="ویرایش">
                                               <svg style="color:#e2a03f !important" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2">
                                                    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                </svg>
                                            </a>

                                            <a class="" onclick="Remove('@item.SlnId')" title="حذف">
                                                <svg style="color:#e7515a" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                                </svg>
                                            </a>


                                            @*<a title="تصاویر" onclick="pictures('@item.SlnId')">
                                                <svg style="color:green" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image">
                                                    <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                                                    <circle cx="8.5" cy="8.5" r="1.5"></circle>
                                                    <polyline points="21 15 16 10 5 21"></polyline>
                                                </svg>
                                            </a>*@
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="createSalon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px !Important">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="productName"> ایجاد سالن جدید : </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="post" class="needs-validation" asp-page="/Salon/Salon" asp-page-handler="Create" name="submitForm" id="">
                <div class="modal-body">

                    <div class="widget-content">
                        <div class="form-row">
                            <div class="col-md-6 mb-5">
                                <label for="SlnName">نام سالن:</label>
                                <input id="SlnName" name="SlnName" type="text" class="form-control basic border-none">
                            </div>
                            <div class="form-row">
                                <label for="SlnType">نوع:</label>
                                <select id="SlnType" name="SlnType" class="form-control" required>
                                    <option value="0" default="" selected="">انتخاب کنید</option>
                                    <option value="1">تالار</option>
                                    <option value="2">ورزشی</option>
                                    <option value="3">ماساژ</option>
                                    <option value="4">بازی</option>
                                    <option value="5">استخر</option>
                                    <option value="6">رستوران</option>
                                    <option value="7">مهمانسرا</option>
                                    <option value="8">بوفه</option>
                                    <option value="9">کافیشاپ</option>
                                    <option value="10">پارکینگ</option>
                                    <option value="11">کلینیک</option>
                                    <option value="12">سایر</option>
                                </select>

                            </div>
                            <div class="col-md-6 mb-5">
                                <label for="FrWarHosUid">انبار:</label>
                                <select id="FrWarHosUid" name="FrWarHosUid" class="form-control" required>
                                    <option value="0" default="" selected="">انتخاب کنید</option>
                                @for(int i=0;i<Model.WareHouses.Count;i++)
                                {
                                        <option value="@Model.WareHouses[i].WarHosUid">@Model.WareHouses[i].WarHosName</option>
                                }
                                </select>


                                @*<label for="SlnName">انبار:</label>
                                <input id="FrWarHosUid" name="FrWarHosUid" type="text" class="form-control basic border-none">*@
                            </div>
                            

                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn" data-dismiss="modal" id="saveChanges" value="ذخیره تغییرات" />
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> بستن</button>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="editSalon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px !Important">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="productName"> ویرایش : </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="post" class="needs-validation" asp-page="/Salon/Salon" asp-page-handler="Edit" name="submitForm" id="">
                <div class="modal-body">

                    <div class="widget-content">
                        <div class="form-row">
                            <div class="col-md-6 mb-5">
                                <label for="SlnName">نام سالن:</label>
                                <input id="SlnName" name="SlnName" type="text" class="form-control basic border-none" >
                            </div>
                        <div class="form-row">
                            <label for="SlnName">نوع:</label>
                                <select id="SlnType" name="SlnType" class="form-control" required>
                                    <option  value="0" default="" selected="">انتخاب کنید</option>
                                    <option  value="1">تالار</option>
                                    <option  value="2">ورزشی</option>
                                    <option  value="3">ماساژ</option>
                                    <option  value="4">بازی</option>
                                    <option  value="5">استخر</option>
                                    <option  value="6">رستوران</option>
                                    <option  value="7">مهمانسرا</option>
                                    <option  value="8">بوفه</option>
                                    <option  value="9">کافیشاپ</option>
                                    <option  value="10">پارکینگ</option>
                                    <option  value="11">کلینیک</option>
                                    <option  value="12">سایر</option>
                                </select>

                            </div>
                            <div class="col-md-6 mb-5">
                                <label for="FrWarHosUid">انبار:</label>
                                <select id="FrWarHosUid" name="FrWarHosUid" class="form-control" required>
                                    <option value="0" default="" selected="">انتخاب کنید</option>
                                    @for (int i = 0; i < Model.WareHouses.Count; i++)
                                    {
                                        <option value="@Model.WareHouses[i].WarHosUid">@Model.WareHouses[i].WarHosName</option>
                                    }
                                </select>

                                @*<label for="SlnName">انبار:</label>
                                <input id="FrWarHosUid" name="FrWarHosUid" type="text" class="form-control basic border-none" >*@
                            </div>
                            <div class="col-md-6 mb-5" hidden>
                                <input id="SlnId" name="SlnId" type="number" class="form-control basic border-none" value="آیدی:&nbsp;&nbsp; ">
                            </div>
                           
                        </div>

                        
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn" data-dismiss="modal" id="saveChanges" value="ذخیره تغییرات"/> 
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> بستن</button>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="pictureProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px !Important">
            <div class="modal-header">
                <h5 class="modal-title text-center text-center" id="productName"> تصاویر </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="post" class="needs-validation" name="submitForm" id="submitForm">
                <div class="modal-body">

                    <div class="widget-content">

                        <!-- Gallery -->
                        <div class="row" id="gallery">
                        </div>
                        <!-- Gallery -->

                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> بستن</button>
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts
{
    <script>

        function Create(){
            $("#createSalon").modal('show')
        }

        function Remove(id) {
            swal({
                title: 'آیا مطمئنید؟',
                text: "این عمل قابل بازگشت نیست!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'حذف',
                padding: '2em'
            }).then(function (result) {
                debugger
                if (result.value) {
                    debugger
                    $.ajax({
                        url: "?handler=Remove&id=" + id,
                        type: "get",
                        success: function (result) {
                            debugger
                            if (result) {
                                swal(
                                    'موفق!',
                                    result.message,
                                    'success'
                                ).then(function () {
                                    window.location = "/Salon/Salon";
                                });
                            } else {
                                swal(
                                    'خطا!',
                                    result.message,
                                    'error'
                                )
                            }
                        }

                    })
                }
            })
        };

        function Edit(id) {
            $("#editSalon").modal('show')
            $.ajax({
                type: "GET",
                url: "?handler=Edit&SLN_ID=" + id,
                success: function (result) {
                    var salon = JSON.parse(result);
                    $("#SlnName").val( salon.SlnName);
                    $("#SlnType").val(salon.SlnType);
                    if (salon.FrWarHosUid !=null){
                    $("#FrWarHosUid").val(salon.FrWarHosUid);
                    }
                    $("#SlnId").val(salon.SlnId);                
                }
            });           
        }
        $('#saveChanges').click(function () {
            $("#editSalon").modal('hide');
            $("#createSalon").modal('hide');

        });
        
    </script>
}


