@page
@model ServiceComplex.Pages.Planing.ShiftModel
@{
}

<style>
    .border-none {
        border: none !important;
    }

    input[readonly] {
        background: no-repeat !important;
        cursor: default !important;
        color: darkslategrey;
    }
</style>
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="page-header">
            <div class="page-title">
                <h3>شیفت ها</h3>
            </div>
        </div>

        <div class="row layout-top-spacing" id="cancel-row">

            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <div class="text-center">
                        <a onclick="Create()" class="btn btn-secondary btn-rounded btn-sm">افزودن شیفت جدید</a>
                    </div>
                    <div class="table-responsive mb-4 mt-4">
                        <table id="dataTable" class="table table-hover table-bordered cell-border row-border" style="width:100%">
                            <thead>
                                <tr>
                                    <th>نام</th>
                                    <th>ساعت شروع</th>
                                    <th>ساعت پایان</th>
                                    <th>تلورانس (دقیقه)</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Shifts)
                                {
                                    <tr>
                                        <td>@item.ShfName</td>
                                        <td>@TimeSpan.FromMinutes(@item.ShfStartTime)</td>
                                        <td>@TimeSpan.FromMinutes(@item.ShfEndTime)</td>
                                        <td>@item.ShfTelorance</td>
                                        <td>

                                          

                                            <a class="" onclick="Edit('@item.ShfId')" title="ویرایش">
                                               <svg style="color:#e2a03f !important" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2">
                                                    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                </svg>
                                            </a>


                                            <a class="" onclick="Remove('@item.ShfId')" title="حذف">
                                                <svg style="color:#e7515a" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                                </svg>
                                            </a>


                                           
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="createShift" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px !Important">
            <div class="modal-header">
                <h5 class="modal-title text-center" > ایجاد شیفت جدید : </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="post" class="needs-validation" asp-page="/Planing/Shift" asp-page-handler="Create" name="submitForm" id="CreateForm">
                <div class="modal-body">

                    <div class="widget-content">
                        <div class="form-row">
                            <div class="col-md-6 mb-5">
                                <label >عنوان شیفت:</label>
                                <input name="ShfName" type="text" class="form-control basic border-none">
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-5">
                                    <label>زمان شروع:</label>
                                    <input name="ShfStartTime" type="time" class="form-control basic border-none">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-5">
                                    <label>زمان پایان:</label>
                                    <input name="ShfEndTime" type="time" class="form-control basic border-none">
                                </div>
                            </div> 
                            <div class="form-row">
                                <div class="col-md-6 mb-5">
                                    <label>تلورانس(دقیقه):</label>
                                    <input name="ShfTelorance" type="number" class="form-control basic border-none">
                                </div>
                            </div>
                           
                            

                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn" data-dismiss="modal" onclick="saveNew()"  value="ذخیره " />
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> بستن</button>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="editShift" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px !Important">
            <div class="modal-header">
                <h5 class="modal-title text-center" > ویرایش : </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="post" class="needs-validation" asp-page="/Planing/Shift" asp-page-handler="Edit" name="submitForm" id="EditForm">
                <div class="modal-body">

                    <div class="widget-content">
                        <div class="form-row">
                            <div class="col-md-6 mb-5">
                                <label>عنوان شیفت:</label>
                                <input id="ShfName" name="ShfName" type="text" class="form-control basic border-none">
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-5">
                                    <label>زمان شروع:</label>
                                    <input id="ShfStartTime" name="ShfStartTime" type="text" class="form-control basic border-none">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-5">
                                    <label>زمان پایان:</label>
                                    <input id="ShfEndTime" name="ShfEndTime" type="text" class="form-control basic border-none">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-5">
                                    <label>تلورانس(دقیقه):</label>
                                    <input id="ShfTelorance" name="ShfTelorance" type="text" class="form-control basic border-none">
                                </div>
                            </div>
                            <div class="form-row" hidden>
                                <div class="col-md-6 mb-5">
                                    <input id="ShfId" name="ShfId" type="text" class="form-control basic border-none">
                                </div>
                            </div>



                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <button onclick="saveEdit()" class="btn" data-dismiss="modal">ذخیره تغییرات</button>  
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> بستن</button>
                </div>
            </form>

        </div>
    </div>
</div>




@section Scripts
{
    <script>

        function Create(){
            $("#createShift").modal('show');
        }

        function Remove(id) {
            swal({
                title: 'آیا مطمئنید؟',
                text: "این عمل قابل بازگشت نیست!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'حذف',
                padding: '2em'
            }).then(function (result) {
                
                if (result.value) {
                    
                    $.ajax({
                        url: "?handler=Remove&id=" + id,
                        type: "get",
                        success: function (result) {
                            
                            if (result) {
                                swal(
                                    'موفق!',
                                    result.message,
                                    'success'
                                ).then(function () {
                                    window.location = "/Planing/Shift";
                                });
                            } else {
                                swal(
                                    'خطا!',
                                    result.message,
                                    'error'
                                )
                            }
                        }

                    });
                }
            });
        }

        function Edit(id) {
            $("#editShift").modal('show');
            $.ajax({
                type: "GET",
                url: "?handler=Edit&id=" + id,
                success: function (result) {
                    var shift = JSON.parse(result);
                    $("#ShfName").val(shift.ShfName);
                    $("#ShfStartTime").val(shift.ShfStartTime);
                    $("#ShfEndTime").val(shift.ShfEndTime);
                    //if (salon.FrWarHosUid !=null){
                    $("#ShfTelorance").val(shift.ShfTelorance);
                    //}
                    $("#ShfId").val(shift.ShfId);
                }
            });           
        }
        function saveEdit()
        {
            document.getElementById("EditForm").submit();
        }
        function saveNew() {
            document.getElementById("CreateForm").submit();
        }
        $('#saveChanges').click(function () {
            $("#editSalon").modal('hide');
            $("#createSalon").modal('hide');

        });
        
    </script>
}



