@page "{productId}"
@model ServiceComplex.Pages.Products.EditModel
@{
}


<!--  BEGIN CONTENT AREA  -->

<link href="~/assets/css/components/tabs-accordian/custom-tabs.css" rel="stylesheet" type="text/css"/>

<link href="~/plugins/file-upload/file-upload-with-preview.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="~/plugins/editors/quill/quill.snow.css">

<div id="content" class="main-content">
<div class="layout-px-spacing">

<div class="row">
<div id="tabsAlignments" class="col-lg-12 col-12 layout-spacing">
<div class="widget-content widget-content-area justify-tab">

<ul class="nav nav-tabs  mb-3 mt-3 nav-fill" id="justifyTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="justify-home-tab" data-toggle="tab" href="#justify-home" role="tab" aria-controls="justify-home" aria-selected="true">اطلاعات اصلی</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="justify-profile-tab" data-toggle="tab" href="#justify-profile" role="tab" aria-controls="justify-profile" aria-selected="false">سایر اطلاعات </a>
    </li>
  @*  <li class="nav-item">
        <a class="nav-link" id="justify-contact-tab" data-toggle="tab" href="#justify-contact" role="tab" aria-controls="justify-contact" aria-selected="false">ویژگی ها </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="justify-pictures-tab" data-toggle="tab" href="#justify-pictures" role="tab" aria-controls="justify-contact" aria-selected="false">عکس های محصول</a>
    </li>*@
</ul>
<form method="post" enctype="multipart/form-data" class="needs-validation" id="createForm" name="createForm">
<div class="tab-content" id="justifyTabContent">
<div class="tab-pane fade show active" id="justify-home" role="tabpanel" aria-labelledby="justify-home-tab">
    <div class="row layout-top-spacing" id="cancel-row">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class=" br-6">
                @if (ViewData["ErrorMessage"] != null)
                {
                     <span class="alert alert-danger text-center">فرم هارا به درستی پر نکرده اید.</span>
                }
                <div class="row">
                    <div class=" col-lg-8 col-sm-12">
                        <div class="form-row mb-8">
                            <div class="form-group col-md-4">
                                <label for="group">گروه <span class="error">*</span></label>
                                <select asp-for="Command.PrdLvlUid3" id="group" class="form-control" asp-Items="@(new SelectList(Model.Category, "PrdLvlUId", "PrdLvlName"))">
                                    <option value="" selected>انتخاب کنید...</option>
                                </select>
@*                                <span asp-validation-for="Command.PrdLvlUid3" class="error"></span>
*@
                            </div>
                            <div class="form-group col-md-4">
                                <label for=""> نام <span class="error">*</span></label>
                                <input asp-for="Command.PrdName" type="text" class="form-control" id="" required="" placeholder="نام">
@*                                <span asp-validation-for="Command.PrdName" class="error"></span>
*@                            </div>
                            <div class="form-group col-md-4">
                                <label title="نمایش در فروشگاه، اپلیکشن موبایل و چاپ" for="">نام نمایشی کالا <span class="error">*</span></label>
                                <input asp-for="Command.PrdNameInPrint" type="text" class="form-control" id="" placeholder="نام نمایشی">
@*                                <span asp-validation-for="Command.PrdNameInPrint" class="error"></span>
*@                            </div>
                                                   

                          
                           
                        </div>
                        <div class="form-row mb-8">
                            <div class="form-group col-md-4">
                                <label for="">ماهیت <span class="error">*</span></label>
                                    <select asp-for="Command.Type" onchange="CheckValue(this.value)" id="selectType" class="form-control" required="">
                                    <option selected value="">انتخاب کنید...</option>
                                    <option value="0">واقعی</option>
                                    <option value="2">خدماتی</option>
                                    <option value="3">مجازی</option>
                                    <option value="1">غرفه</option>
                                </select>
@*                                <span asp-validation-for="Command.Type" class="error"></span>
*@                            </div>
                             <div class="form-group col-md-4" id="isService" style="display:none">
                                <div class="n-chk mt-40">
                                    <label class="new-control new-checkbox checkbox-primary Current-color">
                                        <input id="hasTiming"  asp-for="Command.PrdHasTiming" type="checkbox" class="Current-color new-control-input product-timing">
                                        <span class="new-control-indicator"></span>نحوه محاسبه هزینه بر اساس زمان می باشد
                                    </label>
                                </div>
                            </div>
                             <div class="form-group col-md-4" id="prdunit" style="display:none"> 
                                <label for=""> واحد شمارش <span class="error">*</span></label>
                                
                                <select asp-for="Command.FkProductUnit"  type="text" class="form-control" id="ProductUnit" asp-items="@(new SelectList(Model.Unit,"Id","Name"))">
                                    <option value="">انتخاب...</option>
                                     
                                </select>
@*                                <span asp-validation-for="Command.FkProductUnit" class="error"></span>
*@                            </div>
                             <div class="form-group col-md-4" id="prdUnit2" style="display:none">
                                <div class="n-chk mt-40">
                                    <label class="new-control new-checkbox checkbox-primary Current-color">
                                        <input id="productUnit" type="checkbox" class="Current-color new-control-input product-unit">
                                        <span class="new-control-indicator"></span>کالا دو واحدی است؟
                                    </label>
                                </div>
                             </div>
                         
                        </div>
                        

                          <div class="form-group col-md-4">
                                <label for=""> کد کالا <span class="error">*</span></label>
                                <input onchange="CheckControl(this.value)" asp-for="Command.PrdCode" type="text" class="form-control" id="" placeholder=" کد کالا">
                                <span asp-validation-for="Command.PrdCode" id="validateCode" class="error"></span>
                            </div>
                          
                            <div class="form-group col-md-4">
                                <label for=""> بار کد</label>
                                <input asp-for="Command.PrdBarcode" type="text" class="form-control" id="" placeholder=" بارکد">
@*                                <span asp-validation-for="Command.PrdBarcode" class="error"></span>
*@                            </div>

                            <div class="form-group col-md-4">
                                <label for=""> ایران کد</label>
                                <input asp-for="Command.PrdIranCode" type="text" class="form-control" id="" placeholder="ایران کد">
@*                                <span asp-validation-for="Command.PrdIranCode" class="error"></span>
*@                            </div>
                           
                        </div>


                        <div class="form-row mb-8">
                            <div class="form-group col-md-12">
                                <label for=""> توضیحات کوتاه</label>
                                <textarea asp-for="Command.ShortDescription" type="text" class="form-control" rows="3" id="" placeholder=" توضیحات کوتاه"></textarea>
@*                                <span asp-validation-for="Command.ShortDescription" class="error"></span>
*@                            </div>

                        </div>


                    </div>

                    <div class=" col-lg-4 col-sm-12">
                        <p class="help-block error" id="validateImg"> </p>
                        <img id="preViewImg" class="thumbnail" src="/defualtImg/10.png" alt="" style="max-width:60%"/>
                        <div class="form-group">
                            <label class="control-label">عکس<span class="text-danger">*</span></label>
                            <input asp-for="Command.Images" id="imgCourseUp" type="file" class="form-control" accept="image/*" required>
                            <span class="text-danger"></span>
                            <p class="help-block"> مشخصۀ تصویر: width:185px و Height:1200px</p>
                        </div>
@*                        <span asp-validation-for="Command.Images" class="error"></span>
*@                    </div>

                </div>

            </div>
        </div>
        <button id="first-form" style="margin-right:90%" type="submit" class="btn btn-info btn-sm btn-rounded pull-left">بعدی</button>

    </div>


<div class="tab-pane fade" id="justify-profile" role="tabpanel" aria-labelledby="justify-profile-tab">
    <div class="row layout-top-spacing" id="cancel-row">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class=" br-6">

                <div class="row">
                    <div class=" col-lg-12 col-sm-12">
                        <div id="prices">
                        <div class="form-row mb-4">
                            <div class="form-group col-md-3" >

                                <label for="">قیمت 1 <span class="error">*</span></label>
                                                                <input asp-for="Command.PrdPricePerUnit1" type="number" class="form-control" id="PrdPricePerUnit1" placeholder="قیمت 1">
                                <span asp-validation-for="Command.PrdPricePerUnit1" class="error"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="">قیمت 2</label>
                                <input asp-for="Command.PrdPricePerUnit2" type="number" class="form-control" id="" placeholder="قیمت 2">
                                <span asp-validation-for="Command.PrdPricePerUnit2" class="error"></span>
                            </div>
                              <div class="form-group col-md-3">
                                 <label for="">قیمت 3</label>
                                  <input asp-for="Command.PrdPricePerUnit3" type="number" class="form-control" id="" placeholder="قیمت 3">
                                  <span asp-validation-for="Command.PrdPricePerUnit3" class="error"></span>
                              </div>
                                                      

                             <div class="form-group col-md-3">
                                <label for="">قیمت 4</label>
                                <input asp-for="Command.PrdPricePerUnit4" type="number" class="form-control" id="" placeholder="قیمت 4">
                                <span asp-validation-for="Command.PrdPricePerUnit4" class="error"></span>
                            </div>
                        </div>

                        <div class="form-row mb-4">
                             <div class="form-group col-md-3">
                                <label for=""> قیمت 5</label>
                                <input asp-for="Command.PrdPricePerUnit5" type="number" class="form-control" id="" placeholder=" قیمت 5">
                                <span asp-validation-for="Command.PrdPricePerUnit5" class="error"></span>
                            </div>
                              <div class="form-group col-md-3">
                                <label for=""> حداقل موجودی</label>
                                <input asp-for="Command.PrdMinQuantityOnHand" type="number" class="form-control" id="" placeholder="حداقل موجودی">
                                <span asp-validation-for="Command.PrdMinQuantityOnHand" class="error"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="">حداکثر موجودی </label>
                                <input asp-for="Command.PrdMaxQuantityOnHand" type="number" class="form-control" id="" placeholder=" حداکثر موجودی">
                                <span asp-validation-for="Command.PrdMaxQuantityOnHand" class="error"></span>
                            </div>
                           
                                <div class="form-group col-md-3">
                                <label for=""> وزن</label>
                                <input asp-for="Command.Weight" type="text" class="form-control" id="" placeholder=" وزن">
                                <span asp-validation-for="Command.Weight" class="error"></span>
                            </div>
                        </div>
                         <div class="form-row mb-4">

                        

                            <div class="form-group col-md-3">
                                <label for="">حجم </label>
                                <input asp-for="Command.Volume" type="text" class="form-control" id="" placeholder=" حجم">
                                <span asp-validation-for="Command.Volume" class="error"></span>
                            </div>
     
                        </div>
                        </div>

                    <div id="times" style="display:none">
                        <div class="form-row mb-4">
                            <div class="form-group col-md-3" >

                                <label for="">زمان پایه ارائه خدمت <span class="error">*</span></label>
                                <input asp-for="Command.PrdBaseTime" type="number" class="form-control" id="PrdBaseTime" placeholder="دقیقه">
                                <span asp-validation-for="Command.PrdBaseTime" class="error"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="">نرخ زمان پایه<span class="error">*</span></label>
                                <input asp-for="Command.PrdBaseCost" type="number" class="form-control" id="PrdBaseCost" placeholder="نرخ زمان پایه">
                                <span asp-validation-for="Command.PrdBaseCost" class="error"></span>
                            </div>
                              <div class="form-group col-md-3">
                                 <label for="">زمان مازاد ارائه خدمت<span class="error">*</span></label>
                                  <input asp-for="Command.PrdExtraTime" type="number" class="form-control" id="PrdExtraTime" placeholder="دقیقه">
                                  <span asp-validation-for="Command.PrdExtraTime" class="error"></span>
                              </div>
                                                      

                             <div class="form-group col-md-3">
                                <label for="">نرخ زمان مازاد<span class="error">*</span></label>
                                <input asp-for="Command.PrdExtraCost" type="number" class="form-control" id="PrdExtraCost" placeholder="نرخ زمان مازاد">
                                <span asp-validation-for="Command.PrdExtraCost" class="error"></span>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="form-group col-md-3" >

                                <label for="">حداقل زمان حضور <span class="error">*</span></label>
                                <input asp-for="Command.PrdMinTime" type="number" class="form-control" id="PrdMinTime" placeholder="دقیقه">
                                <span asp-validation-for="Command.PrdMinTime" class="error"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="">حداکثر زمان حضور<span class="error">*</span></label>
                                <input asp-for="Command.PrdMaxTime" type="number" class="form-control" id="PrdMaxTime" placeholder="دقیقه">
                                <span asp-validation-for="Command.PrdMaxTime" class="error"></span>
                            </div>
                              <div class="form-group col-md-3">
                                 <label for="">حداقل شارژ<span class="error">*</span></label>
                                  <input asp-for="Command.PrdMinCharge" type="number" class="form-control" id="PrdMinCharge" placeholder="حداقل شارژ">
                                  <span asp-validation-for="Command.PrdMinCharge" class="error"></span>
                              </div>
               
                        </div>

                    </div>


                        <div class="form-row mb-4">
                             <div class="form-group col-md-3">
                                <label for="">نوع مالیات </label>
                                <select asp-for="Command.TaxUid" asp-items="@(new SelectList(Model.Tax, "Id", "Name"))" class="form-control">
                                    <option value="" selected>انتخاب کنید...</option>
                                </select>
@*                                <span asp-validation-for="Command.TaxUid" class="error"></span>
*@                            </div>

                            <div class="form-group col-md-3 mt-30">
                                <label class="Current-color " for="">نوع تخفیف:</label>
                                <div class="form-check form-check-inline">
                                    <input asp-for="Command.PrdDiscountType" class="Current-color form-check-input" type="radio" id="Percentage" value="0">
                                    <label class="Current-color form-check-label mr-0" for="inlineRadio1">درصد</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="Command.PrdDiscountType" class="Current-color form-check-input" type="radio" id="price" value="1">
                                    <label class="Current-color form-check-label mr-0" for="inlineRadio2">مبلغ</label>
                                </div>

@*                                <span asp-validation-for="Command.PrdDiscountType" class="error"></span>
*@                            </div>


                            <div class="form-group col-md-3">
                                <label for=""> تخفیف</label>
                                <input asp-for="Command.PrdDiscount" class="form-control" type="number" disabled="">
                                <span id="dicountDis" class="help-block text-warning"></span>
                                <br/>
@*                                <span asp-validation-for="Command.PrdDiscount" class="error"></span>
*@                            </div>

                          
                        </div>
                       

                        <input type="hidden" asp-for="Command.WebDescription"/>
                        <input type="hidden" asp-for="Command.FkProductUnit2"/>
                        <input type="hidden" asp-for="Command.PrdCoefficient"/>
                        <input type="hidden" asp-for="Command.PrdIsUnit1Bigger"/>
@*
                        <div class="form-row col-md-12 mb-4">

                            <div id="basic" class="col-lg-12 col-md-12 row layout-spacing layout-top-spacing">
                                <div class="col-lg-12 col-md-12">
                                    <div id="editor-container">
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>

            </div>
        </div>
   </div>
   <button id="final-submit" type="submit" class="btn btn-success btn-sm btn-rounded pull-left">تایید نهایی</button>

</div>

<div class="tab-pane fade" id="justify-contact" role="tabpanel" aria-labelledby="justify-contact-tab">
    <div class="row layout-top-spacing" id="cancel-row">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class=" br-6">
                <form method="get" id="submitProperty" name="submitProperty">
                    <div class="row">
                        <div class=" col-lg-12 col-sm-12">
                            <div class="form-row mb-4">
                                <div class="form-group col-md-4">
                                    <label for=""> نام ویژگی</label>
                                    <select asp-for="Property.Id" id="propertyName" asp-items="@(new SelectList(Model.Properties, "Id", "Name"))" class="form-control" id="">
                                        <option value="">انتخاب...</option>
                                    </select>
                                    <span asp-validation-for="Property.Id" class="error"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for=""> مقدار ویژگی</label>
                                    <input asp-for="Property.Value" id="propertyValue" type="text" class="form-control" id="" placeholder=" مقدار ویژگی">
                                    <span asp-validation-for="Property.Value" class="error"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <button type="submit" id="submit-property" class="btn btn-info btn-sm btn-rounded mt-35">افزودن به لیست</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                        <table id="property-dataTable" class="Current-color table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>نام ویژگی</th>
                                                <th>مقدار ویژگی</th>
                                                <th>عملیات</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="related-products" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:600px !Important">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="productName"> واحد شمارش 2 را وارد کنید </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="post" class="needs-validation" name="submitForm" id="submitForm">
                <div class="modal-body">
                    <div class="widget-content">
                        <div class="widget-content">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="">2 واحد شمارش <span class="error">*</span></label>
                                    <select id="FkProductUnit2" asp-items="@(new SelectList(Model.Unit, "Id", "Name"))" type="text" class="form-control">
                                        <option value="">انتخاب...</option>
                                    </select>
                                    <span asp-validation-for="Command.FkProductUnit2" class="error"></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for=""> ضریب <span class="error">*</span></label>
                                    <input id="PrdCoefficient" type="number" class="form-control" placeholder="ضریب ">
                                </div>

                            </div>

                            <div class="form-row">

                                <div class="form-group  col-md-12 mt-30">

                                    <label class="Current-color" for="">واحد یک بزرگتر هست؟</label>
                                    <div class="form-check form-check-inline">
                                        <input class="Current-color form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true">
                                        <label class="Current-color form-check-label mr-0" for="inlineRadio1">بلی</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="Current-color form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false">
                                        <label class="Current-color form-check-label mr-0" for="inlineRadio2">خیر</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> بستن</button>
                </div>
            </form>

        </div>
    </div>
</div>

</div>
</form>
</div>
</div>
</div>
</div>
</div>

@section Scripts
{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/plugins/file-upload/file-upload-with-preview.min.js"></script>
    <script src="~/plugins/select2/custom-select2.js"></script>
    <script src="~/plugins/editors/quill/quill.js"></script>
    <script src="~/plugins/editors/quill/custom-quill.js"></script>
    <script src="~/source/js/product.js"></script>
    <script>
        var hasTiming = @(Html.Raw(Json.Serialize(Model.Command.PrdHasTiming)));
        var type = @(Html.Raw(Json.Serialize(Model.Command.Type)));

        var fkUnit = @Html.Raw(Json.Serialize(Model.Command.FkProductUnit2.HasValue));
        var prices = document.querySelector("#prices");
        var times = document.querySelector("#times");
        var div = document.querySelector("#isService");
        var divunit2 = document.querySelector("#prdUnit2");
        var divunit = document.querySelector("#prdunit");
        var productUnit = document.getElementById("prdunit");
            $(document).ready(function () {
                
                if (fkUnit==true)
                   {
                       $("#productUnit").prop("checked", true)
                       $("#FkProductUnit2").val($("#Command_FkProductUnit2").val());
                       $("#PrdCoefficient").val($("#Command_PrdCoefficient").val());
                       $("input[name='inlineRadioOptions']").val($("#Command_PrdIsUnit1Bigger").val());
                   }
                   
                if(type==2){
                div.style.display = "block";
                divunit2.style.display = "none";
                divunit.style.display = "none";
                }else{
                     div.style.display = "none";
                     divunit2.style.display = "block";
                     divunit.style.display = "block";
                }
                debugger
            if (type== 2 && hasTiming {
                debugger
                     prices.style.display = "none";
                     times.style.display = "block";
                }
                else{
                debugger
                     prices.style.display = "block";
                     times.style.display = "none";
                }

            });
        </script>


}