@page
@model ServiceComplex.Pages.BaseData.AccountClubTypeModel
@using Application.Common
@{
    ViewData["Title"] = "رتبه بندی مشترکین";
}

<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="page-header">
            <div class="page-title">
                <h3>نوع اشتراک</h3>
            </div>
        </div>

        <div class="row layout-top-spacing" id="cancel-row">

            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <div class="text-center">
                        <button onclick="Add()" class="btn btn-secondary btn-rounded btn-sm">افزودن نوع اشتراک جدید</button>
                    </div>
                    <div class="table-responsive mb-4 mt-4">
                        <table id="dataTable_1" class="table table-hover table-bordered cell-border row-border" style="width:100%">
                            <thead>
                                <tr>
                                    <th>نام</th>
                                    <th>نوع اشتراک</th>
                                    <th>قیمت کالا</th>
                                    <th>درصد تخفیف</th>
                                    <th>تخفیف شعبه</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel1"> افزودن نوع اشتراک </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="post" class="needs-validation" name="submitAddForm" id="submitAddForm">
                <div class="modal-body">
                    <div class="widget-content">
                        <div class="form-row">

                            <div class="col-md-6 mb-4">
                                <label for="">
                                    عنوان اشتراک
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control basic" asp-for="Command1.Name" placeholder="عنوان اشتراک ">
                                <span asp-validation-for="Command1.Name" class="error"></span>
                            </div>

                            <div class="col-md-6 mb-4">
                                <label for="">
                                    قیمت کالا در فاکتور
                                    <span class="text-danger">*</span>
                                </label>
                                <select asp-for="Command1.PriceInvoice" type="text" class="form-control basic" placeholder="قیمت کالا ">
                                    <option>--انتخاب--</option>
                                    <option value="@PriceInvoiceLevel.Zero)">صفر</option>
                                    <option value="@PriceInvoiceLevel.Level1">سطح 1</option>
                                    <option value="@PriceInvoiceLevel.Level2">سطح 2</option>
                                    <option value="@PriceInvoiceLevel.Level3">سطح 3</option>
                                    <option value="@PriceInvoiceLevel.Level4">سطح 4</option>
                                    <option value="@PriceInvoiceLevel.Level5">سطح 5</option>
                                </select>
                                <span asp-validation-for="Command1.PriceInvoice" class="error"></span>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-4">

                                <label asp-for="Command1.DetDiscount">
                                    نوع تخفیف
                                </label>
                                <select asp-for="Command1.DiscountType" type="text" class="form-control basic" placeholder="نوع تخفیف ">
                                    <option>انتخاب</option>
                                    <option value="0">کسر از فاکتور</option>
                                    <option value="1">شارژ باشگاه</option>
                                </select>
                                <span asp-validation-for="Command1.DiscountType" class="error"></span>
                            </div>
                            <div class="col-md-6 mb-4">
                                <label for="">
                                    درصد تخفیف روی فاکتور
                                </label>
                                <input type="number" max="100" class="form-control basic" asp-for="Command1.PercentDiscount" placeholder="درصد تخفیف ">
                                <span asp-validation-for="Command1.PercentDiscount" class="error"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-4">
                                <label for="" title="درصد تخفیف کالا در ردیف فاکتور">
                                    تخفیف کالا (درصد)
                                </label>
                                <input max="100" type="number" class="form-control basic" asp-for="Command1.DetDiscount" placeholder=" تخفیف کالا در ردیف ">
                                <span asp-validation-for="Command1.DetDiscount" class="error"></span>
                                <p class="help-block" style="color:currentcolor; font-size:x-small">در صورت فعال بودن این گزینه تخفیف کالا در اطلاعات پایه نظر گرفته نمیشود</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> انصراف</button>
                    <a id="addSubmit" class="btn btn-primary">تایید</a>
                </div>
            </form>

        </div>
    </div>
</div>



<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel1"> ویرایش نوع اشتراک </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="post" class="needs-validation" name="submitEditForm" id="submitEditForm">
                <div class="modal-body">
                    <div class="widget-content">
                        <div class="form-row">

                            <div class="col-md-6 mb-4">
                                <label for="">
                                    عنوان اشتراک
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control basic" asp-for="Command.Name" placeholder="عنوان اشتراک ">
                                <span asp-validation-for="Command.Name" class="error"></span>
                            </div>

                            <div class="col-md-6 mb-4">
                                <label for="">
                                    قیمت کالا در فاکتور
                                    <span class="text-danger">*</span>
                                </label>
                                <select asp-for="Command.PriceInvoice" type="text" class="form-control basic" placeholder="قیمت کالا ">
                                    <option>--انتخاب--</option>
                                    <option value="0">صفر</option>
                                    <option value="1">سطح 1</option>
                                    <option value="2">سطح 2</option>
                                    <option value="3">سطح 3</option>
                                    <option value="4">سطح 4</option>
                                    <option value="5">سطح 5</option>
                                </select>
                                <span asp-validation-for="Command.PriceInvoice" class="error"></span>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-4">

                                <label asp-for="Command.DetDiscount">
                                    نوع تخفیف
                                </label>
                                <select asp-for="Command.DiscountType" type="text" class="form-control basic" placeholder="نوع تخفیف ">
                                    <option>انتخاب</option>
                                    <option value="0">کسر از فاکتور</option>
                                    <option value="1">شارژ باشگاه</option>
                                </select>
                                <span asp-validation-for="Command.DiscountType" class="error"></span>
                            </div>
                            <div class="col-md-6 mb-4">
                                <label for="">
                                    درصد تخفیف روی فاکتور
                                </label>
                                <input type="number" max="100" class="form-control basic" asp-for="Command.PercentDiscount" placeholder="درصد تخفیف ">
                                <span asp-validation-for="Command.PercentDiscount" class="error"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-4">
                                <label for="">
                                    تخفیف کالا
                                </label>
                                <input type="number" class="form-control basic" asp-for="Command.DetDiscount" placeholder=" تخفیف شعبه ">
                                <span asp-validation-for="Command.DetDiscount" class="error"></span>
                                <p class="help-block" style="color:currentcolor; font-size:x-small">در صورت فعال بودن این گزینه تخفیف کالا در اطلاعات پایه نظر گرفته نمیشود</p>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Command.Id" />
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> انصراف</button>
                    <a id="editSubmit" class="btn btn-primary">ویرایش</a>
                </div>
            </form>

        </div>
    </div>
</div>



@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/source/js/basedata/AccountClubType.js"></script>


}
